/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  =======================================
  Custom Styles
  =======================================
*/

html, body {
  height: 100%;
  margin: 0;
}

div {
  border: .01em solid #BDBDBD; /* the border color functions as the divider color */
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

button {
  border: .01em solid #BDBDBD; /* the border color functions as the divider color */
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
}

.btn-pri-color {
  background-color: #455a64;
}

.btn-sec-color {
  background-color: #607d8b;
}

.display-color {
  background-color: #00bcd4;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Flex Box
  ========================================
*/

.flex-buttons-container {
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-right: 5%;
  padding-left: 5%;
}

.right-bottom {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 0 5%;
}

/*
  ========================================
  Calculator
  ========================================
*/

.calculator {
  background-color: #BDBDBD;
  border: 0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: #FFF;
  height: 100vh;
}

/*
  ========================================
  Displays
  ========================================
*/

.exp-display {
  border-bottom: 0;
  font-weight: 300;
  height: 9.71vh;
}

.sol-display {
  border-top: 0;
  font-size: 2.2em;
  font-weight: 300;
  height: 18.89vh;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  height: 14.28vh;
  width: 25%;
}

.big-btn {
  height: 14.28vh;
  width: 50%;
}

/*
  ========================================
  Media Queries
  ========================================
*/ 

/* make calculator not full-screen for PCs. dimensions are half of mobile measurements */
@media screen and (min-width: 1000px) {
  body {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  /* Calculator */
  .calculator {
    height: 70vh;
    width: 13em;
  }
  /* Displays */
  .exp-display {
    font-size: 1em;
    height: 6.797vh;
  }
  .sol-display {
    font-size: 1.7em;
    height: 13.223vh;
  }
  /* Buttons */
  .btn {
    font-size: 1em;
    height: 9.996vh;
  }
  .big-btn {
    font-size: 1em;
    height: 9.996vh;
  }
}


